In [43]:
import pandas as pd

In [44]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [45]:
data=pd.read_csv("rawdata.csv")

In [46]:
data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

In [47]:
#lets Check for null values

In [48]:
data.isna().sum()

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

In [49]:
data2 = pd.DataFrame(data)

In [50]:
# (b) Now Remove the some of units from Mileage, Engine, Power, and New_Price

In [51]:
data2['Mileage'] = data2['Mileage'].str.extract('(\d+\.\d+)').astype(float)

data2['Engine'] = data2['Engine'].str.replace(' CC', '').astype(float)

data2['Power'] = data2['Power'].str.extract('(\d+\.\d+)').astype(float)

data2['New_Price'] = data2['New_Price'].str.extract('(\d+\.\d+)').astype(float)

In [52]:
# (a)Now Look for the missing values in all the columns and either impute them (replace with mean,median, or mode) or drop them.
#Replace the NA values of Mileage, Engine and seats with median
#Replace the NA values of power with Mode.As there are many null values incase of Newprice, it is better to drop a column because imputing any values can result in outliers in the data and lead to wrong analysis

In [53]:
data2['Mileage'].fillna(data2['Mileage'].median(),inplace=True)
data2['Engine'].fillna(data2['Engine'].median(),inplace=True)
data2['Power'].fillna(data2['Power'].mode()[0],inplace=True)

data2['Seats'].fillna(data2['Seats'].median(),inplace=True)

data2.drop('New_Price', axis=1, inplace=True)#axis=1 indicates to drop a column

In [54]:
output_csv_file = ('/content/clean.csv')
data2.to_csv(output_csv_file, index=False)

In [55]:
d1=pd.read_csv('/content/clean.csv')

In [56]:
d1.isna().sum()

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

In [57]:
#Check for the unique values of Categorical variables.

In [58]:
d1['Fuel_Type'].unique()

array(['Diesel', 'Petrol', 'Electric'], dtype=object)

In [59]:
d1['Transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [60]:
# (c) Convert the above categorical variables into numerical using one hot encoding
d1['Fuel_Type'].replace({'Diesel': 0, 'Petrol': 1, 'Electric': 2}, inplace=True)
d1['Transmission'].replace({'Manual': 0, 'Automatic': 1}, inplace=True)

In [61]:
d1.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,First,19.67,1582.0,126.20,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,1,0,First,18.19,1199.0,88.70,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,First,20.77,1248.0,88.76,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,Second,15.20,1968.0,140.80,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,First,23.08,1461.0,63.10,5.0,3.50

In [62]:
#Save the encoded data in the csv file

In [71]:
output_csv_file = ('/content/encoded.csv')
d1.to_csv(output_csv_file, index=False)

In [64]:
# (d) Add the new column CAR AGE OF THE CAR

In [65]:
from datetime import datetime

In [66]:
current_year = datetime.now().year

d1['Car_Age'] = current_year - d1['Year']

In [69]:
#Save the file with newly added Car_Age colmun in separate file
output_csv_file = ('/content/mutation.csv')
d1.to_csv(output_csv_file, index=False)

In [70]:
d3=pd.read_csv('/content/mutation.csv')
d3.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Car_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,First,19.67,1582.0,126.20,5.0,12.50,8
1,2,Honda Jazz V,Chennai,2011,46000,1,0,First,18.19,1199.0,88.70,5.0,4.50,12
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,First,20.77,1248.0,88.76,7.0,6.00,11
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,Second,15.20,1968.0,140.80,5.0,17.74,10
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,First,23.08,1461.0,63.10,5.0,3.50,10